.body{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
}

.divApresentar{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divApresentar > h2{
    margin-bottom: 0;
    padding-right: 6em;
    font-size: 2.5em;
    font-weight: 200;
}

.divApresentar > h1{
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 4em;
    margin: 0;
}

.divApresentar > h3{
    margin-top: 0;
    padding-left: 10em;
    font-size: 1.5em;
    font-weight: lighter;
}

.divImagem{
    width: 40%;
    margin-top: 4em;
    margin-bottom: 4.2em;
}
.divImagem > img{
    width: 23em;
    margin: 2em;
}

.rodape{
    width: 100%;
    color: white;
    display: flex;
}

.logos{
    display: flex;
    width: 70%;
    align-items: center;
    padding-left: 3em;
}

.logo{
    transition: transform .4s ease-in-out;
    padding-right: 1em;
}

.logo:hover{
    transform: scale(1.2);
}

.contatos{
    display: flex;
    align-items: center;
}


@media (max-width: 960px) {
    
    .divApresentar{
        margin-left: 2em;
        width: 40%;
    }

    .divApresentar > h2{
        margin-bottom: 0;
        padding-right: 0em;
        font-size: 1.8em;
        font-weight: 200;
    }
    
    .divApresentar > h1{
        font-family: "Noticia Text", serif;
        font-weight: 700;
        font-style: italic;
        font-size: 3em;
        margin: 0;
    }
    
    .divApresentar > h3{
        margin-top: 0.5em;
        padding-left: 0em;
        font-size: 1.2em;
        font-weight: lighter;
    }

    .divImagem > img{
        width: 60%;
        width: 20em;
        margin: 2em;
        margin-left: 3em;
    }

    .rodape{
        width: 100%;
        color: white;
        opacity: 0;
    }
    
}

@media (max-width: 430px) {
    .body{
        color: white;
        display: block ;
    }

    .divApresentar{
        margin: 3em 3.2em 0em;
        width: 100%;
    }

    .divImagem {
        display: flex;
        width: 100%;
        margin: 0em 3.7em;
    }

    .divImagem > img{
        margin: 1em auto;
    }
}

@media (max-width: 376px) {
    .divApresentar{
        margin: 3em 4.5em 0em;
        width: 100%;
    }

    .divImagem {
        display: flex;
        width: 100%;
        margin: 0em 4.8em;
    }
}