.experiencias{
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;

    grid-column: 2;
}

.experiencias > h3 {
    color: white;
    font-size: 3em;
    margin-top: 4em;
    margin-bottom: 2em;
}


.card{
    background-color: white;
    color: black;
    width: 150%;
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 1em;
    border-radius: 12px;

    justify-items: center;
    align-items: center;

    box-shadow: 2px 2px 4px black;
    transition: transform .5s ;
}


.card:hover{
    transform: scale(1.02);
}

.borda{
    grid-column: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-right: 0.1em solid black;
}


.card > div > img {
    width: 55%;
    align-items: center;
    display: flex;
    border-radius: 12px;
}

#ifce {
    width: 90%;
    padding: 0.5em;
    border-radius: 12px;
}

.card > .textoE{
    width: 85%;
    color: black;
    grid-column: 2;
    align-items: center;
    display: flex;
    text-align: center;
    justify-items: center;
    padding: 1em ;
    flex-direction: column;
    justify-content: center;
}

.textoE > h3 {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
}

.textoE > p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.divisor{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin-bottom: 8em;
}

.projetos{
    color: white;
    text-align: center;
    grid-column: 4;

}

.projetos > h3 {
    color: white;
    font-size: 3em;
    margin-top: 4em;
    margin-bottom: 1em;
}

.svgT{
    color: white;
}

.iconesC{
    margin-top: 10em;
}

.costructText{
    font-size: x-large;
}



@media (max-width: 960px) {
    .divisor{
        display: block;
    }

    .card{
        background-color: white;
        color: black;
        width: 70%;
        display: grid;
        grid-template-columns: 35% 65%;
        margin: 1em;
        border-radius: 12px;
    
        justify-items: center;
        align-items: center;
    
        box-shadow: 2px 2px 4px black;
        transition: transform .5s ;
    }

    .card > div > img {
        width: 55%;
    }

    .experiencias > h3 {
        font-size: 4em;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .projetos > h3 {
        font-size: 4em;
        margin-top: 3em;
        margin-bottom: 0em;
    }

    .iconesC{
        margin-top: 5em;
    }

}

@media (max-width: 430px) {
    .experiencias > h3 {
        font-size: 3em;
        margin: 2em 0em 1em;
    }

    .projetos > h3 {
        font-size: 3em;
        margin: 2.5em 0em 1em;
    }

    .iconesC{
        width: 100%;
        margin: 5em 0em;
    }

    .card{
        background-color: white;
        color: black;
        width: 60%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        margin: 3em 1em;
        border-radius: 12px;
    
        justify-items: center;
        align-items: center;
    
        box-shadow: 2px 2px 4px black;
        transition: transform .5s ;
    }

   

    .borda{
        grid-row: 1;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        border-bottom: 0.1em solid black;
        border-right: 0em;
    }
    
    
    .card > div > img {
        width: 30%;
        padding: 3em 0em;
        align-items: center;
        display: flex;
        border-radius: 12px;
        
    }

    .card > .textoE{
        width: 80%;
        color: black;
        grid-column: 1;
        grid-row: 2;
        align-items: center;
        display: flex;
        text-align: center;
        justify-items: center;
        padding: 1em;
        flex-direction: column;
        justify-content: center;
    }
    
    #ifce {
        width: 60%;
        padding: 2em 0em;
        border-radius: 12px;
    }
}
