html{
    color: white;
}

.techTitulo{
    color: white;
    text-align: center;
    font-size: 4em;
    text-align: center;
    margin-top: 4em;
}

.tecList{
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    margin: 2em 12em;
    padding: 0;
}

.tec{
    list-style: none;
    font-size: x-large;
    align-self: center;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones{
    padding-right: 0.4em;
}

@media (min-width: 431) and (max-width: 960px) {
    .tecList{
        grid-template-columns: auto auto auto ;
        margin: 2em 3em;
    }

    .techTitulo{
        margin-top: 2em;
    }

    .tec{
        align-self: center;
        padding: 1.5em 0em;
        justify-content: center;
        font-size: 18px;
    }

    #figma{
        grid-column: 2/4;
    }

    #git{
        grid-column: 1/2;
    }

}

@media (min-width: 0) and (max-width: 430px) {
    .techTitulo{
        width: 100%;
        margin: 2em 1.1em 0em;
        font-size: 3.5em;
    }

    .tecList{
        width: 100%;
        grid-template-columns: auto auto ;
        margin: 2em 0em 2em 7em;
        text-align: center;
    }

    .tec{
        width: 60%;
        padding: 1.5em 1em;
        justify-content: center;
        font-size: 18px;
    }
}