html{
    color: white;
}

.techTitulo{
    color: white;
    text-align: center;
    font-size: 4em;
    text-align: center;
    margin-top: 4em;
}

.layoutTecList{
    display: flex;
    justify-content: center;
}

.tecList{
    color: white;
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 2em 0em;
    padding: 0;
}

.tec{
    list-style: none;
    font-size: x-large;
    align-self: center;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.icones{
    padding-right: 0.4em;
}

#figma{
    grid-column: 2/4;
}

#git{
    grid-column: 1/2;
}

@media (max-width: 1025px) {
    .tec{
        font-size: 26px;
    }
}

@media (min-width:431px ) and (max-width: 960px) {
    .tecList{
        grid-template-columns: auto auto auto ;
        margin: 2em;
    }

    .techTitulo{
        margin-top: 2em;
    }

    .tec{
        align-self: center;
        padding: 1.5em 1.5em;
        justify-content: center;
        font-size: 18px;
    }
}

@media (max-width: 430px) {
    .techTitulo{
        margin: 2em 0em 0em;
        font-size: 2.5em;
    }

    .tecList{
        grid-template-columns: auto auto;
        margin: 2em auto 2em;
        text-align: center;
    }

    .tec{
        width: 70%;
        padding: 1.5em 2em;
        justify-content: center;
        font-size: 16px;
    }
    #figma{
        grid-column: 2;
    }
    
    #git{
        grid-column: 1;
    }
}

@media (max-width: 376px) {
    .tec{
        width: 70%;
        padding: 1.5em 2.1em;
        justify-content: center;
        font-size: 14px;
    }
}