.titulo{
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 3em;
    font-size: 4em;
}

.textoS{
    color: white;
    justify-content: center;
    display: flex;
    margin: 1em 8em;
    font-size: x-large;
    text-align: center;
}

@media (max-width: 960px) {
    .titulo{
        margin-top: 0em;
        margin-bottom: 1em;
        font-size: 4em;
    }
    
    .textoS{
        color: white;
        justify-content: center;
        display: flex;
        margin: 1em 5em;
        font-size: 22px;
        text-align: center;
    }
}

@media (max-width: 431px) {
    .titulo{
        margin: 0em 0em;
        font-size: 3em;
    }

    .textoS{
        color: white;
        justify-content: center;
        display: flex;
        margin: 2em 0em;
        font-size: 16px;
        text-align: center;
        padding: 0em 5em;
    }
}

@media (max-width: 376px) {
    .titulo{
        margin: 0em 0em 1em;
        font-size: 2.5em;
    }

    .textoS{
        color: white;
        justify-content: center;
        display: flex;
        margin: 2em 0em;
        font-size: 15px;
        text-align: center;
    }
}