.titulo{
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 3em;
    font-size: 4em;
}

.textoS{
    color: white;
    justify-content: center;
    display: flex;
    margin: 1em 10em;
    font-size: x-large;
    text-align: center;
}

@media (max-width: 960px) {
    .titulo{
        margin-top: 0em;
        font-size: 4em;
    }
    
    .textoS{
        color: white;
        justify-content: center;
        display: flex;
        margin: 1em 5em;
        font-size: 22px;
        text-align: center;
    }
}

@media (max-width: 431px) {
    .titulo{
        width: 100%;
        margin: 0em 1.1em;
        font-size: 3.5em;
    }

    .textoS{
        width: 100%;
        color: white;
        justify-content: center;
        display: flex;
        margin: 2em 2.9em;
        font-size: 22px;
        text-align: center;
    }
}

@media (max-width: 376px) {
    .titulo{
        width: 100%;
        margin: 0em 2em;
        font-size: 3.5em;
    }

    .textoS{
        width: 100%;
        color: white;
        justify-content: center;
        display: flex;
        margin: 2em 3.4em;
        font-size: 22px;
        text-align: center;
    }
}