@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:wght@300;400;700&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --vermelho: #730302 ;
}

html{
    font-family: 'Anonymous Pro', monospace;
    color: white;
    background-image: linear-gradient(
        to top left,
        black,
        var(--vermelho)
    );
    background-repeat: no-repeat;
    background-size: 500%, 100%;
    animation: degrade_animado 4s infinite alternate;
}

@keyframes degrade_animado {
    0%{
        background-position-x: 0% ;
    }
    100%{
        background-position-x: 95% ;
    }
}

@media (max-width: 960px) {
    @keyframes degrade_animado {
        0%{
            background-position-x: 0% ;
        }
        100%{
            background-position-x: 90% ;
        }
    }

    body{
        width: 100%;
    }
}

@media (max-width: 430px){
    @keyframes degrade_animado {
        0%{
            background-position-x: 5% ;
        }
        100%{
            background-position-x: 80% ;
        }
    }
}


@media (max-width: 376px){
    @keyframes degrade_animado {
        0%{
            background-position-x: 5% ;
        }
        100%{
            background-position-x: 80% ;
        }
    }
    body{
        width: 100%;
    }
}